<h2>Survey: <%= @survey.title %></h2>
<h1>Question: <%= @question.query %></h1>

<% if @question.answers.any? %>
  <h4>Here are the answers for this survey:</h4>

  <% @question.answers.each do |answer| %>
    <ul>
      <li>
        <%= link_to answer.content, survey_question_answer_path(@survey, @question, answer) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No answers are listed for this question.</p>
<% end %>

<p><%= link_to "Add an answer", new_survey_question_answer_path(@survey, @question) %></p>


<p><%= link_to "Edit question", edit_survey_question_path(@survey, @question) %></p>
<p><%= link_to "Delete question", survey_question_path(@survey, @question),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to survey", survey_path(@survey) %></p>
