<h1><%= @survey.title %></h1>

<% if @survey.questions.any? %>
  <h4>Here are the questions for this survey:</h4>

  <ul>
  <% @survey.questions.each do |question| %>
      <li>
        <%= link_to question.query, survey_question_path(@survey, question) %>
        <% if question.answers.any? %>
        <ul>
          <% question.answers.each do |answer| %>
              <li>
                <%= link_to answer.content, survey_question_answer_path(@survey, question, answer) %>
              </li>
          <% end %>
      </ul>
        <% else %>
          <p>No answers are listed for this question.</p>
        <% end %>
      </li>
  <% end %>
</ul>
<% else %>
  <p>No questions are listed for this survey.</p>
<% end %>


<p><%= link_to "Add a question", new_survey_question_path(@survey) %></p>

<p><%= link_to "Edit", edit_survey_path(@survey) %></p>
<p><%= link_to "Delete", survey_path(@survey),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to surveys", surveys_path %></p>
